#contenedor video{
	max-width: 1280px;;
	width: 100%;
}
#contenedor{
	max-width: 1280px;
	position:relative;
}
canvas{
	max-width: 1280px;;
}
canvas.drawingBuffer{
	position:absolute;
	top:0;
	left:0;
}